---
import Layout from '../layouts/Layout.astro'
import PageMeta from '../components/PageMeta.astro'
import PageSchema from '../components/PageSchema.astro'

const pageMetadata = {
	title: 'Basic Astro Template',
	description: 'Everything you need to get started - Tailwind, React, Prettier',
	author: 'Colin OBrien'
}
---

<Layout>
	<PageMeta slot="metadata" metadata={pageMetadata} />
	<div class="bg-white px-6 py-24 sm:py-32 lg:px-8">
		<div class="mx-auto max-w-2xl text-center">
			<p class="text-base font-semibold leading-7 text-indigo-600">Get going with Astro</p>
			<h2 class="mt-2 text-4xl font-bold tracking-tight text-gray-900 sm:text-6xl">
				High Fidelity Base Build
			</h2>
			<p class="mt-6 text-lg leading-8 text-gray-600">
				Tailwind, React, Prettier. An SEO component with json-ld schema for search. Sitemap plugin
				pre-installed. Shadcn/Radix UI set up for components.
			</p>
		</div>
	</div>
</Layout>
